* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    
}
html{
    height: 100%;
}


.gray-link {
    color:darkgrey;
    text-decoration: none;
}
header {
    display: flex;
    height: 40px;
    background-color: rgb(0, 11, 17);
    margin: 0;

    align-items: center;
}
                
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

menu {
    display: flex;
    flex-direction: row;
    padding: 0;
}

h1 {
    font-size: 50px;
    color: rgb(214, 130, 99);
    padding: 0.25em;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 130, 99);
   
    flex-grow: 1;

}

footer {
    background-color: rgb(136, 124, 120);
}