* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


.score {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(92, 167, 204);

}

h1 {

    display: flex;
    flex: 1;
    margin: 0;
    justify-content: center;

    font-size: 50px;
    color: rgb(214, 130, 99);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        3px  3px 0 #000;
}

.gray-link {
    color:darkgrey;
    text-decoration: none;
}

.name {
    color: darkgray;
    padding: 10px;
}

header {
    display: flex;
    height: 40px;
    background-color: rgb(0, 11, 17);
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

menu {
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    flex-direction: row;
    background-color: rgb(214, 130, 99);
    justify-content: space-evenly;
}

footer {  
    margin-top: auto;
    background-color: rgb(136, 124, 120);
    width: 100%;
}