* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    
}
html{
    height: 100%;
}

.name {
    color: darkgray;
    padding: 10px;
}

.gray-link {
    color:darkgrey;
    text-decoration: none;
}

header {
    display: flex;
    height: 40px;
    background-color: rgb(0, 11, 17);
    margin: 0;

    align-items: center;
    justify-content: space-between;
}
                
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

menu {
    display: flex;
    flex-direction: row;
    padding: 0;
}

table {
    width: 85%;
    align-self: center;
}

#leaderboard td {
    background-color: rgb(148, 182, 199); /* Cell background color */
    width: 25%;
    height: 25%;
    padding: 20px; /* Padding for cell content */
    text-align: center;
    font-size: 24px; /* Font size for cell content */
    font-weight: bold; /* Bold font for cell content */
    border: 6px solid  rgb(202, 168, 155) ; /* Border color similar to 2048 */
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(214, 130, 99);
   
    flex-grow: 1;

}

#inspiration {
    padding: 10px;
    background-color: rgb(202, 168, 155);
    border: 2px solid black;
    position: absolute;
    align-self: center;
    bottom: 0;
}

footer {
    background-color: rgb(136, 124, 120);
}